
@import url(https://fonts.googleapis.com/css?family=Bitter|Rokkitt|Raleway|Open+Sans);


body, html {
	font-family: 'Open Sans';
	color: #4a4a4a;
	font-size: 16px;
	background-color: white;
	text-align: justify;
	margin: 0;
}

b {
/*	font-family: 'Rokkitt';*/
	color: #987FC5;
/*	font-weight: normal;*/
/*	font-size: 1.25em;*/
}

a {
	color: #7facc5;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid;
	padding-bottom: .1em;
}

h1 {
	font-family: 'Raleway';
	margin-top: 2em;
	font-size: 1.3em;
	text-transform: uppercase;
}
h2 {
	font-family: 'Raleway';
	text-transform: uppercase;
	margin-top: 0;
	font-size: 1.2em;
}


img.circle {
	width: 30%;
	max-width: 200px;
	border-radius: 50%;
}

.container {
	height: auto;
	/*padding: 150px 15vw 10px 15vw;*/
	width: 70%;
	padding: 150px 0 10px 0;
	margin: auto;
	max-width: 850px;
}

.footer {
	margin: 25px 15vw 50px 15vw;
	padding-top: 5px;
	font-size: 0.9em;
}

.icon {
	color: #4a4a4a;
	font-size: 1.5em;
}
.icon:hover {
	color: #9cb6c5;
	border-bottom: 0;
	padding-bottom: 0;
}

#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.proj-item{
	height: 200px;
	display: block;
	padding: 10px;
	margin: 10px;
	border: black solid 1px;
}

















/* P R O J E C T S  T E S T */

.project {
	padding-top: 100px;
}
#nav-bar {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	background-color: #ab9cc5;
}
#nav-bar-links {
	padding: 25px;
	height: auto;
}
#nav-bar-links a {
	margin: 0 5px;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .25em;
	border: #ab9cc5 2px solid;
}
#nav-bar-links a:hover {
	color: white;
	border: white 2px solid;
}
.code {
	font-size: 14px;
	font-family: monospace;
	display: inline-block;
}
.caption-btmrgt {
	position: absolute;
	text-align: right;
	font-size: 12px;
	bottom: 25px;
	right: 0px;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5px 30px 5px 10px;
}
table.two-col {
	align: center;
	max-width: 1000px;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #EEEEEE;
    border-collapse: collapse;
	font-size: 13px;
}
table.two-col td {
	padding: 5px 5px 5px 5px;
	position: relative;
}
table.two-col img {
	width: 100%;
}




