
@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeue.otf');
}
@font-face {
    font-family: 'Cocomat';
    src: url('cocomat.ttf');
}
@font-face {
    font-family: 'Generica';
    src: url('Generica.otf');
}
@font-face {
    font-family: 'GenericaB';
    src: url('Generica Bold.otf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf');
}
@font-face {
    font-family: 'Futura';
    src: url('Futura Oblique.ttf');
}





body, html {
	font-family: 'Futura';
	color: white;
	font-size: 20px;
	background-color: #9E9E9E;
	text-align: justify;
	height: 100%;
}


a {
	color: white;
}

h1 {
	font-family: 'Generica';
	text-align: center;
	font-size: 8vw;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .3em;
}

h2 {
	font-family: 'BebasNeue';
	text-align: center;
	font-size: 4rem;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .25em;
	margin: 10px;
}

.cred {
	position: fixed;
	left: 10px;
	bottom: 0;
	padding: 10px;
	font-size: 11px;
	font-family: 'Roboto';
	text-transform: uppercase;
}

.pagn {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	top: 0;
	padding: 10px;
	font-size: 12px;
	font-family: 'Roboto';
	text-transform: uppercase;
}

.top {
	position: fixed;
	right: 10px;
	bottom: 0;
	padding: 10px;
	font-size: 11px;
	font-family: 'Roboto';
	text-transform: uppercase;
}

.box {
	height: 100%;
	width: 100%;
}

.box #welcome {
	top: 0;
}

.bigBox {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	margin: 1vw 10vw;
	border: #CECECE solid 2px;
	padding: 5vw;
	background-color: rgba(184,184,184, 0.7);
}

.nav {
	text-align: center;
	padding: 20px;
}

.smoothScroll {
	text-decoration: none;
}

.navBox {
	width: 15vw;
	height: 3vw;
	display: inline-block;
	color: white;
	border: white solid 2px;
}
.navText {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	font-family: 'Generica';
	font-size: 1.5vw;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 5px;
}

.navBox:hover {
	background: white;
	color: #9E9E9E;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.content {
	padding: 2vw;
	margin: auto;
	text-align: justify;
}





/*** PROJECTS ***/

#projcontent {
	text-align: center;
}

.content .proj {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	width: calc(20vw);
	height: calc(20vw);
}

.content .proj img {
	opactiy: 1;
	width: 100%;
	padding: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.content .proj img:hover {
	border-radius: 50%;
	opacity: 0.8;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.descr {
	width: calc(100% - 20px);
/*	height: calc(100% - 20px);
*/	padding: 10px;
	position: absolute;
	top: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	border-radius: 50%;
}


.info {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.info .label {
	color: #CECECE;
	padding-right: 15px;
}





/*** BACKGROUND ***/

#triangle { 
	position: fixed;
	top: 10%;
	left: 40%;
    width: 100%; 
    height: 210%; 
    background-color: rgb(118, 85, 138); /* fallback */
    background-color: rgba(118, 85, 138, 0.5);
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    transform: rotate(55deg);
}
#triangle2 { 
	position: fixed;
	top: 50%;
	right: 0;
    width: 200%; 
    height: 60%; 
    background-color: rgb(175, 153, 204); /* fallback */
    background-color: rgba(175, 153, 204, 0.5);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    transform: rotate(70deg);
}


