
@import url(https://fonts.googleapis.com/css?family=Bitter|Rokkitt|Raleway|Open+Sans);

@purple: #987FC5;
@purple50: rgba(152, 127, 197, 0.8);

body, html {
	font-family: 'Open Sans';
	color: #4a4a4a;
	font-size: 16px;
	background-color: white;
	text-align: justify;
	margin: 0;
}

b {
	color: @purple;
}

a {
	color: #7facc5;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid;
	padding-bottom: .1em;
}

h1 {
	font-family: 'Raleway';
	margin-top: 2em;
	font-size: 1.3em;
	text-transform: uppercase;
}
h2 {
	font-family: 'Raleway';
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: .25em;
	font-size: 1.2em;
}


img.circle {
	width: 30%;
	max-width: 200px;
	border-radius: 50%;
}

.container {
	height: auto;
	width: 80%;
	max-width: 1000px;
	padding: 100px 0 10px 0;
	margin: auto;
}

.footer {
	width: 80%;
	max-width: 1000px;
	padding: 5px 0 50px 0;
	font-size: 0.9em;
	margin: auto;
}

.icon {
	color: #4a4a4a;
	font-size: 1.5em;
}
.icon:hover {
	color: #9cb6c5;
	border-bottom: 0;
	padding-bottom: 0;
}



#projects {
	width: 100%;
}
.proj-row {
	display: flex;
	justify-content: space-around;
	margin: -1em 0 1em -1em;
}
.proj-item {
	display: flex;
	flex: 1 0 0px;
	padding: 1em 0 0 1em;
}
.proj-item:before {
	content: '';
	display: table;
	padding-top: 100%;
	float: left;
}
.proj-box {
	display: flex;
	align-items: center;
	padding: 2em;
	border: black solid 1px;
	background-image: url('/194/proj1.jpg');
	background-size: cover;
	position: relative;
}
.proj-box:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 0;
	background-color: @purple;
	opacity: 0;
}
.proj-box:hover:before{
	display: block;
	opacity: .8;
	transition-duration: .2s;
}
.proj-content {
	position: relative;
	text-align: center;
	color: white;
	opacity: 0;
	transition-duration: .2s;
}
.proj-box:hover .proj-content {
	opacity: 1;
	transition-duration: .2s;
}

