// lessc styles.less styles.css


@import url(https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Roboto|Fira+Sans:300);

@purple: #987FC5;
@blue: #7facc5;
@grey: #4a4a4a;
@purple50: rgba(152, 127, 197, 0.8);
@accentfont: 'Raleway';
@basicfont: 'Fira Sans', sans-serif;


body, html {
	font-family: @basicfont;
	color: @grey;
	font-size: 1.1rem;
	line-height: 1.8rem;
	background-color: black;
	text-align: justify;
	margin: 0;
}

b {
	color: @purple;
}

a {
	color: @blue;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid;
	margin-bottom: 0.005rem;
}

h1 {
	font-family: @accentfont;
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin: 4rem 0 2.5rem 0;
	font-size: 1.4rem;
	text-transform: uppercase;
}
h2 {
	font-family: @accentfont;
	font-weight: bold;
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	text-transform: uppercase;
}
h3 {
	font-family: @accentfont;
	margin-top: 1.5rem;
	margin-bottom: .25rem;
	font-size: 1.2rem;
}
h4 {
	font-family: @accentfont;
	margin-top: 1.25rem;
	margin-bottom: .25rem;
	font-size: 1rem;
	text-transform: uppercase;

}

.hidden {
	opacity: 0;
}

.code {
	font-family: monospace;
	display: inline-block;
}

.font1 {
	font-family: @basicfont;
	font-weight: normal;
	display: inline-block;
}





// M A I N  P A G E

img.circle {
	width: 30%;
	max-width: 200px;
	border-radius: 50%;
}
img.smaller {
	width: 125px;
}


.container-frame {
	z-index: 101;
	position: fixed;
	background-color: black;
}
.container-frame-top {
	top: 0;
	left: 0;
	width: 100vw;
	height: 5px;
}
.container-frame-right {
	top: 0;
	right: 0;
	width: 5px;
	height: 100vh;
}
.container-frame-btm {
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 5px;
}
.container-frame-left {
	top: 0;
	left: 0;
	width: 5px;
	height: 100vh;
}


.container {
	height: auto;
	min-height: calc(100vh - 5rem);
	padding: 3rem 0 2rem 0;
	display: flex;
	justify-content: center;
	background-color: white;

	.nav {
		text-align: right;
		width: 80%;
		margin-top: -1rem;
		padding: 1rem 10%;
		max-width: 1000px;
		flex-basis: auto;
		position: fixed;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 100;

		.nav-btn {
			margin: 0 10px 0 10px;
			text-align: center;
			display: inline-block;
			width: 5em;
			border: solid rgba(255, 255, 255, 0) 3px;
			font-weight: bold;
			font-size: 0.9rem;
			letter-spacing: .05rem;
			text-transform: uppercase;
			color: @grey;
			transition: 0.45s;
		}
		.click {
			.btn-underline {
				background-color: @purple;
				height: 3px;
				width: 0%;
				top: 0;
				left: 0;
				transition: 0.45s;
			}
		}
		.click:hover {
			.btn-underline {
				width: 100%;
				transition: 0.45s;
			}
		}
		.current {
			border: solid black 3px;
		}
	}
	.nav a:hover {
		border: none;
	}

	.side {
		flex: 1;
	}
	.main {
		width: 80%;
		max-width: 1000px;
		flex-basis: auto;
		padding-top: 100px;

		.footer {
			width: 100%;
			margin: 5rem 0 2rem 0;
			font-size: 0.9rem;
		}
	}
}

.icon {
	color: #4a4a4a;
	font-size: 1.5rem;
}
.icon:hover {
	color: #9cb6c5;
	border-bottom: 0;
	padding-bottom: 0;
}


.about {
	display: flex;
	justify-content: space-around;

	.info {
		flex: 2;
		margin: 0 4rem;
		margin-top: -1rem;
	}
	// @media(max-width: 724px) {
	// 	#info {
	// 		width: 100%;
	// 	}
	// }
	.myface {
		flex: 1;
		margin-top: 6rem;

		img {
			width: 100%;
		}

		.smol {
			font-size: 0.9rem;
			padding: 0 1rem;
			.big {
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				color: @purple;
				text-transform: uppercase;
				letter-spacing: 0.05rem;
			}
		}
	}
}


#projects2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;

	.proj-item {
		display: flex;
		width: 100%;
		height: 200px;
		margin: .75rem 0;
	}
	.proj-item a:hover {
		border: none;
	}
	.proj-box {
		display: flex;
		align-items: center;
		padding: 2rem;
		// background-size: cover;
		position: relative;
		width: 100%;
		background-position: 0;
		background-size: 80%;
		transition: 0.45s;

		.proj-gradient {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, white 65%);
			opacity: 1;
			z-index: 50;
			transition: opacity 0.45s;

			&:before {
				background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, white 60%);
				content: '';    
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0; left: 0;
				opacity: 0;
				z-index: 49;
				transition: opacity 0.45s;
			}
		}
	}
	.proj-box:hover {
		background-position: 20%;
		transition: 0.45s;
	}
	.proj-box:hover .proj-gradient:before {
		opacity: 1;
	}
	.proj-box:hover .proj-content {
		padding-left: 65%;
		padding-right: 5%;
		transition: 0.45s;
	}

	.proj-content {
		width: 100%;
		position: relative;
		text-align: left;
		font-size: .9rem;
		line-height: 1.25rem;
		padding-left: 70%;
		color: @grey;
		z-index: 51;
		transition: 0.45s;

		.proj-title {
			font-family: @accentfont;
			font-size: 1.1rem;
			letter-spacing: 0.025rem;
			text-transform: lowercase;
			font-weight: bold;
			margin: 0 0 1.5rem 0;

			.proj-title-line {
				margin: 1rem 0;
				padding-bottom: 0.25rem;
				border-bottom: 2px solid;
			}
		}
		.proj-tags {
			font-size: 0.75rem;
			margin-top: 1rem;
			text-transform: uppercase;
		}
	}
}




#projects {
	display: flex;
	flex-wrap: wrap;
	width: 100% + 2rem;
	margin: -1rem 0 0 -1rem;
	justify-content: space-around;

	.proj-item {
		display: flex;
		// padding-bottom: 1rem;
		padding: 0 0 1rem 1rem;
		width: calc(33.33333% - 2rem);
	}

	@media(max-width: 1100px) {
		.proj-item {
			width: calc(50% - 3rem);
		}
	}
	@media(max-width: 724px) {
		.proj-item {
			width: calc(100%);
		}
	}
	.proj-item:hover {
		border: 0;
	}
	.proj-item:before {
		content: '';
		display: table;
		padding-top: 100%;
		float: left;
		border: 0;
	}
	.proj-link {
		margin: 0;
		border: 0;
	}
	.proj-box {
		display: flex;
		align-items: center;
		padding: 2rem;
		background-size: cover;
		position: relative;
		width: 100%;
	}
	.proj-box:before{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 0;
		background-color: @purple;
		opacity: 0;
		transition-duration: .2s;
	}
	.proj-box:hover:before{
		display: block;
		opacity: .8;
		transition-duration: .2s;
	}
	.proj-box:hover .proj-content {
		opacity: 1;
		transition-duration: .2s;
	}
	.proj-content {
		width: 100%;
		position: relative;
		text-align: center;
		color: white;
		opacity: 0;
		transition-duration: .2s;
		font-size: .9rem;
		line-height: 1.25rem;

		.proj-title {
			font-family: @accentfont;
			margin: 1rem 0;
			padding: .5rem;
			border: 2px solid;
			font-size: 1.25rem;
			letter-spacing: 0.025rem;
			text-transform: uppercase;
			font-weight: normal;
		}
		.proj-tags {
			font-size: 0.8rem;
			margin-top: 1rem;
			text-transform: uppercase;
		}
	}

	.frame {
		// width: calc(100% + 2rem);
		// display: flex;
		// left: -1rem;
		// top: -1rem;
		// width: calc(100% - 2rem);
		// height: calc(100% - 2rem);
		width: 100%;
		height: 100%;
		// padding: 1rem;
		position: absolute;
		top: 0;
		left: 0;

	}
	.frames {
		background: white;
		position: absolute;
		transition-duration: .2s;
	}
	.frame-top {
		width: 0%;
		top: 1rem;
		left: 1rem;
		height: 1px;
		// transition: opacity 250ms ease-out, width 250ms ease-out, left 250ms ease-out;
	}
	.proj-box:hover .frame-top {
		width: calc(100% - 4rem);
	}
	.frame-bottom {
		width: 0%;
		bottom: 1rem;
		right: 1rem;
		height: 1px;
	}
	.proj-box:hover .frame-bottom {
		width: calc(100% - 4rem);
	}
	.frame-left {
		height: 0%;
		top: 1rem;
		left: 1rem;
		width: 1px;
	}
	.proj-box:hover .frame-left {
		height: calc(100% - 4rem);
	}
	.frame-right {
		height: 0%;
		bottom: 1rem;
		right: 1rem;
		width: 1px;
	}
	.proj-box:hover .frame-right {
		height: calc(100% - 4rem);
	}
}






// P R O J E C T  P A G E S

.uhm {
	height: 100vh;
	width: auto;
	margin: 5rem;
}


.side-nav {
	position: fixed;
	width: 8%;
	height: 0;
	left: 0;
	text-align: right;
	font-size: .8rem;
	text-transform: uppercase;
	transition-duration: .2s;
	.side-nav-top {
		position: relative;
		top: 80vh;
	}
	@media (min-width: 1250px) {
		left: 42%;
		margin-left: -550px;
	}
	div {
		a:hover {
			border-bottom: 0;
			color: @purple;
			font-weight: bold;
		}
	}
}

.img-table {
	display: flex;
	justify-content: space-around;
	padding: 0 0 .5rem 0;
	width: auto;
	margin: 1rem -2rem;
	font-size: .9rem;
	background-color: white;

	.img-table-box {
		flex: 1;
		display: flex;
		justify-content: center;
		padding: .5rem 0 0 .5rem;

		.img-table-item {
			margin: 0 0 -5px 0;
			position: relative;
		}
		.img-table-item img {
			width: 100%;
		}
		.narrow img {
			width: auto;
			padding: auto;
		}
	}
}
.attach {
	margin-top: -1rem;
}
.attach > div{
	padding-top: 0;
}

.caption {
	font-size: .8rem;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	padding: .2rem 1.5rem .2rem 1rem;
}
.btmrgt {
	text-align: right;
	bottom: 1rem;
	right: 0;
}
.toprgt {
	text-align: right;
	top: 1rem;
	right: 0;
}




