@import url(https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Roboto|Fira+Sans:300);
body,
html {
  font-family: 'Fira Sans', sans-serif;
  color: #4A4A4A;
  font-size: 1.1rem;
  line-height: 1.8rem;
  background-color: black;
  text-align: justify;
  margin: 0;
}
b {
  color: #987FC5;
}
a {
  color: #7FACC5;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid;
  margin-bottom: 0.005rem;
}
h1 {
  font-family: 'Raleway';
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 4rem 0 2.5rem 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}
h2 {
  font-family: 'Raleway';
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
h3 {
  font-family: 'Raleway';
  margin-top: 1.5rem;
  margin-bottom: .25rem;
  font-size: 1.2rem;
}
h4 {
  font-family: 'Raleway';
  margin-top: 1.25rem;
  margin-bottom: .25rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.hidden {
  opacity: 0;
}
.code {
  display: inline;
  font-family: monospace;
  font-size: 1.3rem;
}
.font1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  display: inline-block;
}
img.circle {
  width: 30%;
  max-width: 200px;
  border-radius: 50%;
}
img.smaller {
  width: 125px;
}
.container-frame {
  z-index: 101;
  position: fixed;
  background-color: black;
}
.container-frame-top {
  top: 0;
  left: 0;
  width: 100vw;
  height: 5px;
}
.container-frame-right {
  top: 0;
  right: 0;
  width: 5px;
  height: 100vh;
}
.container-frame-btm {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5px;
}
.container-frame-left {
  top: 0;
  left: 0;
  width: 5px;
  height: 100vh;
}
.container {
  height: auto;
  min-height: calc(95vh);
  padding: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
  background-color: white;
}
.container .topbar {
  max-width: 1000px;
  position: fixed;
  width: 80%;
  margin-top: -3rem;
  padding: 2rem 10% 1rem 10%;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  display: flex;
}
.container .topbar .logo {
  flex-basis: auto;
  font-weight: bold;
  font-size: .8rem;
}
.container .topbar .logo .name {
  display: inline-block;
  padding-right: .25rem;
  font-size: 1.4rem;
  font-family: 'Raleway';
  letter-spacing: .05rem;
  text-transform: uppercase;
}
.container .topbar .logo .what {
  display: inline-block;
  padding-left: .25rem;
  font-size: 1rem;
  text-transform: lowercase;
}
.container .topbar .nav {
  text-align: right;
  flex-basis: auto;
}
.container .topbar .nav .nav-btn {
  margin: 0 10px 0 10px;
  text-align: center;
  display: inline-block;
  width: 5em;
  border: solid rgba(255, 255, 255, 0) 3px;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
  color: #4A4A4A;
  transition: 0.45s;
}
.container .topbar .nav .click .btn-underline {
  background-color: #987FC5;
  height: 3px;
  width: 0%;
  top: 0;
  left: 0;
  transition: 0.45s;
}
.container .topbar .nav .click:hover .btn-underline {
  width: 100%;
  transition: 0.45s;
}
.container .topbar .nav .current {
  border: solid black 3px;
}
.container .topbar .nav a:hover {
  border: none;
}
.container .side {
  flex: 1;
}
.container .main {
  width: 80%;
  max-width: 1000px;
  flex-basis: auto;
  padding-top: 100px;
}
.container .main .footer {
  width: 100%;
  margin: 5rem 0 2rem 0;
  font-size: 0.9rem;
}
.icon {
  color: #4A4A4A;
  padding: .1rem;
  font-size: 1.5rem;
}
.icon:hover {
  color: #7FACC5;
  border-bottom: 0;
  padding-bottom: 0;
}
.about {
  display: flex;
  justify-content: space-around;
}
.about .info {
  flex: 2;
  margin: 0 4rem;
  margin-top: -1rem;
}
.about .myface {
  flex: 1;
  margin-top: 1rem;
}
.about .myface img {
  width: 100%;
}
.about .myface .smol {
  font-size: 0.9rem;
  padding: 1rem;
}
.about .myface .smol .big {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: #987FC5;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.about .smallface {
  display: none;
}
@media (max-width: 875px) {
  .about {
    flex-direction: column;
  }
  .about .myface {
    display: none;
  }
  .about .smallface {
    display: initial;
    padding: 5rem 20% 0 20%;
  }
  .about .smallface img {
    width: 100%;
  }
}
#projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
#projects .proj-item {
  display: flex;
  width: 100%;
  height: 200px;
  margin: .75rem 0;
}
#projects .proj-item a:hover {
  border: none;
}
#projects .proj-box {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
  width: 100%;
  background-position: 20%;
  background-size: 120%;
  transition: 0.45s;
}
@media (max-width: 875px) {
  #projects .proj-box .proj-gradient {
    display: none;
  }
  #projects .proj-box .proj-content {
    padding-left: 10%;
    padding-right: 20%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.45s;
  }
  #projects .proj-box .proj-box:hover .proj-content {
    padding-left: 20%;
    padding-right: 10%;
    transition: 0.45s;
  }
}
#projects .proj-box .proj-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, white 65%);
  opacity: 1;
  z-index: 50;
  transition: opacity 0.45s;
}
#projects .proj-box .proj-gradient:before {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, white 60%);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 49;
  transition: opacity 0.45s;
}
#projects .proj-box:hover {
  background-position: 0;
  transition: 0.45s;
}
#projects .proj-box:hover .proj-gradient:before {
  opacity: 1;
}
#projects .proj-box:hover .proj-content {
  padding-left: 65%;
  padding-right: 5%;
  transition: 0.45s;
}
#projects .proj-content {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: .9rem;
  line-height: 1.25rem;
  padding-left: 70%;
  color: #4A4A4A;
  z-index: 51;
  transition: 0.45s;
}
#projects .proj-content .proj-title {
  font-family: 'Raleway';
  font-size: 1.1rem;
  letter-spacing: 0.025rem;
  text-transform: lowercase;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
}
#projects .proj-content .proj-title .proj-title-line {
  margin: 1rem 0;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid;
}
#projects .proj-content .proj-tags {
  font-size: 0.75rem;
  margin-top: 1rem;
  text-transform: uppercase;
}
@media (max-width: 875px) {
  #projects .proj-box .proj-gradient {
    display: none;
  }
  #projects .proj-box .proj-content {
    padding: 1rem 0;
    padding-left: 10%;
    padding-right: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.45s;
  }
  #projects .proj-box:hover .proj-content {
    padding-left: 20%;
    padding-right: 10%;
    transition: 0.45s;
  }
}
@media (max-width: 500px) {
  #projects .proj-content .proj-desc {
    display: none;
  }
}
.uhm {
  height: 100vh;
  width: auto;
  margin: 5rem;
}
.side-nav {
  position: fixed;
  width: 8%;
  height: 0;
  left: 0;
  text-align: right;
  font-size: .8rem;
  text-transform: uppercase;
  transition-duration: .2s;
}
.side-nav .side-nav-top {
  position: relative;
  top: 80vh;
}
@media (min-width: 1250px) {
  .side-nav {
    left: 42%;
    margin-left: -550px;
  }
}
.side-nav div a:hover {
  border-bottom: 0;
  color: #987FC5;
  font-weight: bold;
}
.data-table {
  display: flex;
  justify-content: space-around;
  padding: .5rem 0;
  margin: 1rem -2rem;
  font-size: 1rem;
  line-height: 1.1rem;
  background-color: white;
  font-family: monospace;
}
.data-table .data-table-box {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 0 0 .5rem;
  width: auto;
}
.data-table .title {
  color: #987FC5;
  font-weight: bold;
  font-size: .8rem;
  font-family: 'Fira Sans', sans-serif;
}
.img-table {
  display: flex;
  justify-content: space-around;
  padding: 0 0 .5rem;
  margin: 1rem -2rem;
  font-size: .9rem;
  line-height: 1.3rem;
  background-color: white;
}
.img-table .img-table-box {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 0 0 .5rem;
  width: auto;
}
.img-table .img-table-box .img-table-item {
  width: 100%;
  margin: 0 0 -5px 0;
  position: relative;
}
.img-table .img-table-box .img-table-item img {
  width: 100%;
}
.img-table .img-table-box .smaller {
  text-align: center;
}
.img-table .img-table-box .smaller img {
  width: auto;
  padding: auto;
}
.wide100 {
  margin: 1rem 0;
}
.narrow {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.narrowest {
  width: 50%;
  min-width: 400px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cap {
  padding-top: 0.5rem;
}
.attach {
  margin-top: -1rem;
}
.attach > div {
  padding-top: 0;
}
.data-attach {
  margin-top: -1rem;
  border-top: #CECECE solid 1px;
}
.centre {
  text-align: center;
}
.right {
  width: 25%;
  min-width: 200px;
  max-width: 300px;
  float: right;
  margin: -1rem 0rem -1rem 2rem;
}
.right40 {
  width: 40%;
  max-width: 400px;
}
.caption {
  font-size: .8rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: .2rem 1rem;
  line-height: .8rem;
}
.btmrgt {
  text-align: right;
  bottom: 1rem;
  padding-right: 2rem;
  right: 0;
}
.toprgt {
  text-align: right;
  top: 1rem;
  right: 0;
}
