
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);


body, html {
	font-family: 'Old Standard TT', sans-serif;
	color: #1A1A1A;
	font-size: 16px;
	text-align: justify;
	height: 100%;
	margin: 0;
}



/*** TEXT ***/

h1 {
	font-family: 'Montserrat';
	text-align: justify;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
}



/*** GRID ***/

#container {
	margin: 0 0 50px 0;
}

.photo-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.bleed {
	width: 100%;
	height: 70vh;
	object-fit: cover;
	marign: auto;
}

.photo {
	width: 80vw;
	height: 50vw;
	object-fit: cover;
	margin: 10px;
}

.word-box {
	display: flex;
	justify-content: center;
	margin: 50px 0px;
}

.words {
	width: 65vw;
	marign: auto;
}

#grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0vw 1vw 1vw 0vw;
}

.pic-contain {
	width: 20vw;
	height: 20vw;
	padding: 1vw 0vw 0vw 1vw;
}

.pic {
	width: 20vw;
	height: 20vw;
	position: absolute;
	opacity: 1;
    transition: opacity 0.2s linear;
    transition-delay: .5s;
}

.hide:hover {
	opacity: 0;
    transition: opacity 0.2s linear;
}



