---
layout: default
title: work
permalink: /
---
			<!-- made by Emilee Chen
					may 2017
						@ emileechen.com
							emilee.ty.chen@gmail.com -->


<div id="projects">

	{% for proj in site.data.projects %}

	<div class="proj-item">
		<a class="proj-box"
			href="/projects/{{ proj.id }}/"
			style="background-image: url('/projects/{{ proj.id }}/icon.jpg');">
			<div class="proj-gradient"></div>
			<div class="proj-content">
				<p class="proj-title">
					<span class="proj-title-line">
						{{ proj.title }}
					</span>
				</p>
				<p class="proj-desc">
					{{ proj.desc }}
				</p>
				<div class="proj-tags">
					{% for tag in proj.tags %}
						{{ tag }}{% if forloop.last == false %}, {% endif %}
					{% endfor %}
				</div>
			</div>
		</a>
	</div>

	{% endfor %}
	
</div>