---
layout: default
title: blog
permalink: /blog/
ready: true
---
			<!-- made by Emilee Chen
					may 2017
						@ emileechen.com
							emilee.ty.chen@gmail.com -->


{% if page.ready == true %}

<div class="blog-main">
 	<div class="blog-content">
		{% for post in site.posts %}
		{% if post.category != "Personal" %}
		<div class="blog-container">

			<div class="blog-head">
				<a href="{{ post.url }}">
					<div class="blog-title">
						{{ post.title }}

						<span class="blog-info">
							<span class="fa fa-folder-open" aria-hidden="true"></span>
							{{ post.category | upcase }}
						</span>
						<span class="blog-info">
							<span class="fa fa-clock-o" aria-hidden="true"></span>
							{{ post.date | date: '%a, %m/%d/%y' }}
						</span>

					</div>
					
				</a>
			</div>

			<div class="blog-excerpt">
				{{ post.excerpt | strip_html | truncatewords:75 }}

				<p class="blog-read-more"><a href="{{ post.url }}">Read more</a></p>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% else %}

<center>
	<p>
		Blog posts about me, my code, and my art are incoming, hold on tight!
	</p>
	<img src="/grad-bear.gif">
</center>

{% endif %}