---
layout: default
title: blog-tags
permalink: /blog/tags/
---
			<!-- made by Emilee Chen
					may 2017
						@ emileechen.com
							emilee.ty.chen@gmail.com -->

<h1>Tags</h1>

{% assign tags_string = "" %}
{% for tag in site.tags %}
	{% assign tag_name = tag | first %}
	{% assign tags_string = tags_string | append: tag_name | append: ',' %}
{% endfor %}

{% assign tags_list = tags_string | split: ',' | sort %}


{% for tag in tags_list %}
	<a class="blog-tag" href="#{{ tag | slugify }}"><b class="fa fa-tag" aria-hidden="true"></b>  {{ tag }}</a>
{% endfor %}

{% for tag in tags_list %}
	<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
	<ul>
		{% for post in site.posts %}
			{% if post.tags contains tag %}
				<li>
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
					<span class="blog-post-info">
						{{ post.date | date: '%a, %m/%d/%y' }}
					</span>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endfor %}
