---
layout: default
title: blog-tags
permalink: /blog/tags/
---
			<!-- made by Emilee Chen
					may 2017
						@ emileechen.com
							emilee.ty.chen@gmail.com -->

<h1>Tags</h1>


{% assign tags_sorted = site.tags | sort %}

{% for tag in tags_sorted %}
	<a class="blog-tag" href="#{{ tag[0] | slugify }}"><b class="fa fa-tag" aria-hidden="true"></b>  {{ tag[0] }}</a>
{% endfor %}

{% for tag in tags_sorted %}
	<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
	<ul>
		{% for post in site.posts %}
			{% if post.tags contains tag[0] %}
				<li>
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
					<span class="blog-post-info">
						{{ post.date | date: '%a, %m/%d/%y' }}
					</span>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endfor %}
